<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{% static 'Hackathon/FAQ/assets/css/Faq-by-pomdre-1.css' %}">
    <link rel="stylesheet" href="{% static 'Hackathon/FAQ/assets/css/Faq-by-pomdre.css' %}">
    <link rel="stylesheet" href="{% static 'Hackathon/FAQ/assets/css/FAQ-Frequentlly-Asked-Questions-1.css' %}">
    <link rel="stylesheet" href="{% static 'Hackathon/FAQ/assets/css/FAQ-Frequentlly-Asked-Questions.css' %}">
    <link rel="stylesheet" href="{% static 'Hackathon/FAQ/assets/css/styles.css' %}">
</head>

<body>
    <!-- Start: Faq by pomdre -->
    <section id="faq" style="padding: 2px;margin: 11px;">
        <h2 class="text-uppercase text-center" style="font-size: 48;">FAQ</h2>
        <!-- Start: br --><br >
        <!-- End: br -->
        <div class="container">
            <div class="faqelement"><button class="btn btn-primary faq on" type="button" style="box-shadow: none;">Questions&nbsp;</button>
                <div class="panel">
                    <p>Answer</p>
                </div>
            </div>
            <!-- Start: br --><br >
            <!-- End: br -->
            <div class="faqelement"><button class="btn btn-primary faq on" type="button" style="box-shadow: none;">Questions&nbsp;</button>
                <div class="panel">
                    <p>Answer</p>
                </div>
            </div>
        </div>
        <div class="container"></div>
    </section>
    <!-- End: Faq by pomdre -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'Hackathon/FAQ/assets/js/Faq-by-pomdre.js' %}"></script>
</body>

</html>