{% extends 'Hackathon/hbase.html' %}
{% block content %}

{% load static %}

    
	<div>
		<img src="{% static 'Hackathon/assets/logo2.png' %}" style="height: 18vmin;width: 30vmin;display: block;margin-left: auto;margin-right: auto;margin-top: 2vh">
	</div>
	<div class="navi" style="margin-top: 3vh">
		<ul>
			<li><a href="#1" data-text="Home">Home</a></li>
			<li><a href="#2" data-text="Event">Event</a></li>
			<li><a href="#3" data-text="Problems Statement">Problems Statement</a></li>
			<li><a href="#4" data-text="Register">Register</a></li>
			<li><a href="#5" data-text="Contact">Contact</a></li>
			<li><a href="#6" data-text="FAQ">FAQ</a></li>
		</ul>
	</div>


{% endblock %}