{% extends 'Hackathon/hbase.html' %}
{% block content %}

{% load static %}

    <div style="height: 100vh">
	<div style="height: 20vh">
		<img src="{% static 'Hackathon/assets/logo5.jpg' %}" style="height: 25vmin;width: 30vmin;display: block;margin-left: auto;margin-right: auto;">
	</div>
	<div class="navi" style="margin-top: 4vh;height: 80vh">
		<ul>
			<li><a href="#1" data-text="Home">Home</a></li>
			<li><a href="#2" data-text="Event">Event</a></li>
			<li><a href="#3" data-text="Problems Statement">Problems Statement</a></li>
			<li><a href="{% url 'hackathon_register' %}" data-text="Register">Register</a></li>
			<li><a href="#5" data-text="Contact">Contact</a></li>
			<li><a href="#6" data-text="FAQ">FAQ</a></li>
		</ul>
	</div>
	</div>

{% endblock %}