{% extends 'Accounts/base.html' %}
{% block content %}

{% load static %}

<div>
    <h2>Hackathon</h2>
</div>
<div style="margin-left: 5%;" id="content" class="">
    <form action="" method="post">
        {% csrf_token %}
        <div>

            <fieldset class="">
                <div class=" field-name">
                    <div>
                        <label class="" for="id_name">Team Name:</label>

                        <input type="text" name="name" class="" maxlength="50" required id="id_name">
                    </div>
                </div>
                <div class=" field-size">
                    <div style="float: top;">
                        <label class="" for="id_size">Team Size:</label>
                        <input style="display: none;" type="number" name="size" value="1" class="" min="1" max="4"
                            required id="id_size">
                        <input style="display: none;" type="number" name="size" value="1" class="" min="1" max="4"
                            required id="ps_size">
                        <label id="team_size">1</label>

                    </div>

                </div>

                <div class=" field-leader_name">

                    <div>

                        <label class="" for="id_leader_name">Team Leader name:</label>

                        <input type="text" name="leader_name" class="" maxlength="50" required id="id_leader_name">

                    </div>

                </div>

                <div class=" field-leader_number">
                    <div>
                        <label class="" for="id_leader_number">Leader number:</label>
                        <input type="text" name="leader_number" class="" maxlength="15" required id="id_leader_number">
                    </div>
                </div>
                <div class=" field-leader_email">
                    <div>
                        <label class="" for="id_leader_email">Leader email:</label>
                        <input type="email" name="leader_email" class="" maxlength="254" required id="id_leader_email">
                    </div>
                </div>
                <hr>
                <div>
                    <button type="button" id="add_member" onclick="addd_member(); ">Add Member</button>
                </div>

                <div id="mate2" style="display: none;">
                    <div class=" field-mate2_name">
                        <div>
                            <label for="id_mate2_name">Mate2 Name:</label>
                            <input type="text" name="mate2_name" class="" maxlength="50" id="id_mate2_name">
                        </div>
                    </div>

                    <div class=" field-mate2_number">
                        <div>
                            <label for="id_mate2_number">Mate2 number:</label>
                            <input type="text" name="mate2_number" class="" maxlength="15" id="id_mate2_number">
                        </div>

                    </div>
                    <div class=" field-mate2_email">
                        <div>
                            <label for="id_mate2_email">Mate2 email:</label>

                            <input type="email" name="mate2_email" class="" maxlength="254" id="id_mate2_email">
                        </div>
                    </div>
                    <hr>
                </div>

                <div id="mate3" style="display: none;">
                    <div class=" field-mate3_name">
                        <div>
                            <label for="id_mate3_name">Mate3 Name:</label>
                            <input type="text" name="mate3_name" class="" maxlength="50" id="id_mate3_name">
                        </div>
                    </div>
                    <div class=" field-mate3_number">
                        <div>
                            <label for="id_mate3_number">Mate3 number:</label>

                            <input type="text" name="mate3_number" class="" maxlength="15" id="id_mate3_number">
                        </div>
                    </div>
                    <div class=" field-mate3_email">
                        <div>
                            <label for="id_mate3_email">Mate3 email:</label>

                            <input type="email" name="mate3_email" class="" maxlength="254" id="id_mate3_email">
                        </div>
                    </div>
                    <hr>
                </div>

                <div id="mate4" style="display: none;">
                    <div class=" field-mate4_name">
                        <div>
                            <label for="id_mate4_name">Mate4 Name:</label>
                            <input type="text" name="mate4_name" class="" maxlength="50" id="id_mate4_name">
                        </div>
                    </div>
                    <div class=" field-mate4_number">
                        <div>
                            <label for="id_mate4_number">Mate4 number:</label>
                            <input type="text" name="mate4_number" class="" maxlength="15" id="id_mate4_number">
                        </div>
                    </div>
                    <div class=" field-mate4_email">
                        <div>
                            <label for="id_mate4_email">Mate4 email:</label>
                            <input type="email" name="mate4_email" class="" maxlength="254" id="id_mate4_email">
                        </div>
                    </div>
                </div>
                <div style="display: none;" id="delete_member"><button type="button" onclick="delete_member();">delete
                        member</button></div>

                <div class=" field-problem1_selected">
                    <div>
                        <label class="" for="id_problem1_selected">Selected problem statement 1:</label>
                        <div class="related-widget-wrapper">
                            <select name="problem1_selected" required id="id_problem1_selected">

                                {% for title,problem in problems.items %}
                                <option value="{{title}}">{{ problem.statement }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class=" field-solution1">
                    <div>
                        <label class="" for="id_solution1">Solution:</label>
                        <input type="text" name="solution1" class="" maxlength="500" required id="id_solution1"
                            placeholder="How will you solve it">
                    </div>
                </div>
                <hr>
                <div>
                    <button type="button" id="add_ps" onclick="addd_ps(); ">Add Problem Statement</button>
                </div>


                <div id="problem2" style="display: none;">
                    <div class=" field-problem2_selected">
                        <div>
                            <label for="id_problem2_selected">Selected problem statement 2:</label>
                            <div class="related-widget-wrapper">
                                <select name="problem2_selected" id="id_problem2_selected">
                                    <option value=""></option>
                                    {% for title,problem in problems.items %}
                                    <option value="{{title}}">{{ problem.statement }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class=" field-solution2">
                        <div>
                            <label for="id_solution2">Solution:</label>
                            <input type="text" name="solution2" class="" maxlength="500" id="id_solution2"
                                placeholder="How will you solve it">
                        </div>

                    </div>
                    <hr>
                </div>

                <div id="problem3" style="display: none;">
                    <div class=" field-problem3_selected">
                        <div>
                            <label for="id_problem3_selected">Selected problem statement 3:</label>
                            <div class="related-widget-wrapper">
                                <select name="problem3_selected" id="id_problem3_selected">
                                    <option value=""></option>
                                    {% for title,problem in problems.items %}
                                    <option value="{{title}}">{{ problem.statement }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class=" field-solution3">
                        <div>
                            <label for="id_solution3">Solution:</label>
                            <input type="text" name="solution3" class="" maxlength="500" id="id_solution3"
                                placeholder="How will you solve it">
                        </div>
                    </div>
                    <hr>
                </div>
                <div style="display: none;" id="delete_ps"><button type="button" onclick="delete_ps();">Delete
                        Problem Statement</button>
                </div>

            </fieldset>
            <div class="">
                <input type="submit" class="default" name="Register">
            </div>
        </div>
    </form>


    <h1>Add team</h1><br class="clear">
</div>
<script>
    function addd_member() {
        var size = parseInt(document.getElementById("id_size").value);
        var next_mem_name = "mate" + (size + 1);
        console.log(next_mem_name);
        document.getElementById("delete_member").style.display = "block";

        if (size <= 3) {
            document.getElementById(next_mem_name).style.display = "block";
            console.log(document.getElementById(next_mem_name));

            document.getElementById("id_size").value = size + 1;
            document.getElementById("team_size").value = size + 1;

            if (size == 3) {
                document.getElementById("add_member").style.display = "none";
            }
        }
        else {
            alert("Only 4 members can be added");
        }
    }
    function delete_member() {

        document.getElementById("add_member").style.display = "block";
        var size = parseInt(document.getElementById("id_size").value);
        document.getElementById("id_mate" + size + "_name").value = "";
        document.getElementById("id_mate" + size + "_email").value = "";
        document.getElementById("id_mate" + size + "_number").value = "";
        document.getElementById("mate" + size).style.display = "none";

        document.getElementById("id_size").value = size - 1;
        document.getElementById("team_size").value = size - 1;
        if (size == 2) {

            document.getElementById("delete_member").style.display = "none";
        }
        console.log(size);
    }

    function addd_ps() {
        var size = parseInt(document.getElementById("ps_size").value);
        var next_ps_name = "problem" + (size + 1);
        console.log(next_ps_name);
        document.getElementById("delete_ps").style.display = "block";

        if (size <= 2) {
            document.getElementById(next_ps_name).style.display = "block";
            console.log(document.getElementById(next_ps_name));

            document.getElementById("ps_size").value = size + 1;

            if (size == 2) {
                document.getElementById("add_ps").style.display = "none";
            }
        }
        else {
            alert("Only 3 problem statements can be added");
        }

    }

    function delete_ps() {

        document.getElementById("add_ps").style.display = "block";
        var size = parseInt(document.getElementById("ps_size").value);

        document.getElementById("id_solution" + size).value = "";
        document.getElementById("id_problem" + size + "_selected").value = "";

        document.getElementById("problem" + size).style.display = "none";

        document.getElementById("ps_size").value = size - 1;
        if (size == 2) {

            document.getElementById("delete_ps").style.display = "none";
        }
        console.log(size);

    }
</script>
{% endblock %}