<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hackathon 2020</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-eqiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'Hackathon/styles.css' %}">

{# navbar #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
 <!--    <link rel="stylesheet" href="{% static 'Hackathon/navbar/assets/css/Fixed-Navbar-1.css' %}">
    <link rel="stylesheet" href="{% static 'Hackathon/navbar/assets/css/Fixed-Navbar-2.css' %}">
    <link rel="stylesheet" href="{% static 'Hackathon/navbar/assets/css/Fixed-Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'Hackathon/navbar/assets/css/Navbar-Centered.css' %}">
    <link rel="stylesheet" href="{% static 'Hackathon/navbar/assets/css/styles.css' %}"> -->
{# navbar #}

{#    first  #}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'Hackathon/heads/assets/css/header-cover.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="{% static 'Hackathon/heads/assets/css/Network-Particles-Hero.css' %}">
    <link rel="stylesheet" href="{% static 'Hackathon/heads/assets/css/styles.css' %}">
{#    first #}

{#    countdown  #}
        <link rel="stylesheet" href="{% static 'Hackathon/countdown/assets/css/-Countdown-BS4-.css' %}">
        <link rel="stylesheet" href="{% static 'Hackathon/countdown/assets/css/styles.css' %}">
    {# countdown #}

{#    faq #}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{% static 'Hackathon/FAQ/assets/css/Faq-by-pomdre-1.css' %}">
    <link rel="stylesheet" href="{% static 'Hackathon/FAQ/assets/css/Faq-by-pomdre.css' %}">
    <link rel="stylesheet" href="{% static 'Hackathon/FAQ/assets/css/FAQ-Frequentlly-Asked-Questions-1.css' %}">
    <link rel="stylesheet" href="{% static 'Hackathon/FAQ/assets/css/FAQ-Frequentlly-Asked-Questions.css' %}">
    <link rel="stylesheet" href="{% static 'Hackathon/FAQ/assets/css/styles.css' %}">
{# faq #}

{#    paralax #}
    <link rel="stylesheet" href="{% static 'Hackathon/paralax/assets/css/Dark-NavBar-1.css' %}">
    <link rel="stylesheet" href="{% static 'Hackathon/paralax/assets/css/Dark-NavBar-2.css' %}">
    <link rel="stylesheet" href="{% static 'Hackathon/paralax/assets/css/Dark-NavBar.css' %}">
    <link rel="stylesheet" href="{% static 'Hackathon/paralax/assets/css/Parallax-Scroll-Effect.css' %}">
    <link rel="stylesheet" href="{% static 'Hackathon/paralax/assets/css/styles.css' %}">
{#    paralax #}

{# sponsors #}
    <link rel="stylesheet" href="{% static 'Hackathon/sponsors/assets/css/styles.css' %}">
{#    sponsors#}


{#    first #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'Hackathon/heads/assets/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
{#    first #}

</head>
<body style="background-color: black">

    
    <div id="navBar" class="navbar-default navbar-dark fixed-top" style="background: black">
      <nav class="navbar navbar-expand-sm ">
        <div class="container-fluid">
          <!-- Logo -->
          <a class="navbar-brand" href="{% url 'home' %}" style="color: white">Codecell</a>
            <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarContent"
              aria-controls="navbarContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          <!-- navbar links -->
          <div class="container-fluid collapse navbar-collapse text-center" id="navbarContent" style="background-color: black">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">

                <a class="nav-link text-light " role="presentation" href="{% url 'hackathon_register' %}" style="font-size: 22px;padding: 5px 15px 0 15px;">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" role="presentation" href="#"  style="font-size: 22px;padding: 5px 15px 0 15px;">Problem statement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" role="presentation" href="#shedule" style="font-size: 22px;padding: 5px 15px 0 15px;">Schedule</a>
              </li>
                <li class="nav-item">
                <a class="nav-link text-light" role="presentation" href="#faq" style="font-size: 22px;padding: 5px 15px 0 15px;">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" role="presentation" href="#contact" style="font-size: 22px;padding: 5px 15px 0 15px;">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>



    <!-- End: Fixed Navbar -->

{% block content %}


{% endblock %}


{#countdown #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'Hackathon/countdown/assets/js/-Countdown-BS4-.js' %}"></script>
{#countdown#}

{# faq #}
<script src="{% static 'Hackathon/FAQ/assets/js/Faq-by-pomdre.js' %}"></script>
{# faq #}

</body>
</html>