<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Hackathon Registration</title>
    <link rel="stylesheet" href="{% static 'Hackathon/styles.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Icons font CSS-->
    <link href="{% static 'Hackathon/register_files/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'Hackathon/register_files/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Vendor CSS-->
    <link href="{% static 'Hackathon/register_files/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'Hackathon/register_files/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'Hackathon/register_files/css/main.css' %}" rel="stylesheet" media="all">
</head>

<body>


<header id="header">
    <div id="navBar" class="container-fluid navbar-default navbar-dark fixed-top" style='background-color: black'>
      <nav class="navbar navbar-expand-sm ">
        <div class="container-fluid">
          <!-- Logo -->
          <a class="logo" href="{% url 'home' %}"><img src="{% static 'Accounts/assets/logo.png' %}" width="200px;" alt=""/></a>
           <button class="navbar-toggler"
             type="button"
             data-toggle="collapse"
             data-target="#navbarContent"
             aria-controls="navbarContent"
             aria-expanded="false"
             aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img src="{% static 'Accounts/assets/Ham.png' %}" style="width:25px;" alt=""/>
             </span>
           </button>
          <!-- navbar links -->
          <div class="collapse navbar-collapse text-center" id="navbarContent" style="background-color: black">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link text-light " role="presentation" href="{% url 'hackathon_register' %}" style="font-size: 25px;padding-left: 10px;padding-right: 10px;">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" role="presentation" href="{% url 'ps' %}"  style="font-size: 25px;padding-left: 10px;padding-right: 10px;">Problem statement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" role="presentation" href="{% url 'hackathon_home' %}#shedule" style="font-size: 25px;padding-left: 10px;padding-right: 10px;">Schedule</a>
              </li>
                <li class="nav-item">
                <a class="nav-link text-light" role="presentation" href="{% url 'hackathon_home' %}#faq" style="font-size: 25px;padding-left: 10px;padding-right: 10px;">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" role="presentation" href="{% url 'hackathon_home' %}#contact" style="font-size: 25px;padding-left: 10px;padding-right: 10px;">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

{#{{ form.solution1 }}#}
    <div class="page-wrapper bg-gra-04 p-t-45 p-b-50" style="margin-top: 0vh">
        <div class="wrapper wrapper--w960" style="padding-top: 8vh">
            <div class="card card-5" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="250">
                <div class="card-heading" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="550">
                    <h2 class="title" >Registration Form</h2>
                </div>

                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="name">Team Name*</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" maxlength="50" required type="text" name="name" id="{{ form.name.auto_id }}">
                                </div>
                            </div>
                                    {% for error in form.name.errors %}
                                    <div class="alert alert-danger" style="color:greenyellow">
                                    <strong>{{ error|escape }}</strong>
                                    </div>
                                    {% endfor %}
                        </div>

                         <div class="form-row">
                            <div class="name">College Name*</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="college_name" required maxlength="100">
                                </div>
                            </div>
                        </div>


                    <div class="form-row m-b-55">
                        <div class="name">Leader*</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-9">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="leader_name" maxlength="50">
                                            <label class="label--desc">name</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="leader_number" required maxlength="15">
                                            <label class="label--desc">Phone No.</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                        <div class="name"></div>
                        <div class="value">
                            <div class="row row-refine">
                                <div class="col-3">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="leader_year" maxlength="20" required>
                                        <label class="label--desc">Current Year</label>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="leader_email" required maxlength="254">
                                        <label class="label--desc">Email Id</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="form-row m-b-55">
                        <div class="name">Member 2*</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-9">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="mate2_name" maxlength="50" required>
                                            <label class="label--desc">Name</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="mate2_number" maxlength="15" required>
                                            <label class="label--desc">Phone</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                        <div class="name"></div>
                        <div class="value">
                            <div class="row row-refine">
                                <div class="col-3">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="mate2_year" maxlength="20" required>
                                        <label class="label--desc">Current Year</label>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="mate2_email" maxlength="254" required>
                                        <label class="label--desc">Email Id</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="form-row m-b-55">
                        <div class="name">Member 3</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-9">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="mate3_name" maxlength="50">
                                            <label class="label--desc">Name</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="mate3_number" maxlength="15">
                                            <label class="label--desc">Phone</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                        <div class="name"></div>
                        <div class="value">
                            <div class="row row-refine">
                                <div class="col-3">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="mate3_year" maxlength="20">
                                        <label class="label--desc">Current Year</label>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="mate3_email" maxlength="254">
                                        <label class="label--desc">Email Id</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                        <div class="form-row m-b-55">
                        <div class="name">Member 4</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-9">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="mate4_name" maxlength="50">
                                            <label class="label--desc">Name</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="mate4_number" maxlength="15">
                                            <label class="label--desc">Phone</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                        <div class="name"></div>
                        <div class="value">
                            <div class="row row-refine">
                                <div class="col-3">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="mate4_year" maxlength="20">
                                        <label class="label--desc">Current Year</label>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="mate4_email" maxlength="254">
                                        <label class="label--desc">Email Id</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="form-row">
                            <div class="name">Select Problem Statement 1*</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        {{ form.problem1_selected }}
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Solution 1*</div>
                            <div class="value">
                                <div class="md-form">
                                      <i class="fas fa-pencil-alt prefix"></i>
                                      <textarea class="lg-textarea form-control" rows="5" name="solution1" maxlength="500" style="width: 100%"></textarea>
                                    </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Select Problem Statement 2</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        {{ form.problem2_selected }}
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Solution 2</div>
                            <div class="value">
                                <div class="md-form">
                                      <i class="fas fa-pencil-alt prefix"></i>
                                      <textarea class="lg-textarea form-control" rows="5" name="solution2" maxlength="500" style="width: 100%"></textarea>
                                    </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Select Problem Statement 3</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        {{ form.problem3_selected }}
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Solution 3</div>
                            <div class="value">
                                <div class="md-form">
                                      <i class="fas fa-pencil-alt prefix"></i>
                                      <textarea class="lg-textarea form-control" rows="5" name="solution3" maxlength="500" style="width: 100%"></textarea>
                                    </div>
                            </div>
                        </div>

                        <div>
                            <button class="btn btn--radius-2 btn--green" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% if form.errors %}

<!-- Modal Content -->
  <div id="my-modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" onclick="myFunction()">&times;</span>
        <div class="title" id="title-modal">Errors</div>
      </div>
      <div class="modal-body">
        <p>Please Correct the following errors </p>
        <p>{% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}</p>
      </div>
    </div>
  </div>
{% endif %}
<!-- Modal End -->
    <!-- Jquery JS-->
    <!-- <script src="{% static 'Hackathon/register_files/vendor/jquery/jquery.min.js' %}"></script> -->
    <!-- Vendor JS-->
    <script src="{% static 'Hackathon/register_files/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'Hackathon/register_files/vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'Hackathon/register_files/vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'Hackathon/register_files/js/global.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

      <!-- Modal JS -->
      <script>
        function myFunction() {
          var x = document.getElementById("my-modal");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }

      </script>
      <!--  -->
</body>
</html>
<!-- end document-->
