{% extends 'Hackathon/hbase.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}

<body>
    <!-- Start: Dark NavBar -->
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#37434d;color:#ffffff;">
            <div class="container-fluid"><a class="navbar-brand" href="#"><i class="fa fa-globe"></i>&nbsp;Antariksh</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" style="color:#ffffff;" href="#"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" style="color:#ffffff;" href="#"><i class="fa fa-wpexplorer"></i>&nbsp;Explore</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" style="color:#ffffff;" href="#"><i class="fa fa-star-o"></i>&nbsp;Features</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" style="color:#ffffff;" href="#"><i class="fa fa-user-circle-o"></i>&nbsp;Portfolio</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" style="color:#ffffff;" href="#"><i class="fa fa-sign-in"></i>&nbsp;Sign In</a></li>
                    </ul>
            </div>
    </div>
    </nav>
    </div>
    <!-- End: Dark NavBar -->
    <!-- Start: Parallax Scroll Effect -->
    <div>
        <!-- Start: Image Box -->
        <div id="box-2">
            <!-- Start: Content Box -->

             <!-- Start: ♣ Countdown BS4 ♣ -->
    <section class="py-5 text-white">
        <!-- Start: Big countdown -->
        <div class="container text-center boxed-countdown" data-countdown="03/13/2020 08:00:00">
            <div class="row">

                <!-- Start: Days -->
                <div class="col-6 col-md-3 mt-3">
                    <p class="number-days m-0 rounded-top">00</p>
                    <p class="text-countdown rounded-bottom">days</p>
                </div>
                <!-- End: Days -->
                <!-- Start: Hours -->
                <div class="col-6 col-md-3 mt-3">
                    <p class="number-hours m-0 rounded-top">00</p>
                    <p class="text-countdown rounded-bottom">hours</p>
                </div>
                <!-- End: Hours -->
                <!-- Start: Minutes -->
                <div class="col-6 col-md-3 mt-3">
                    <p class="number-minutes m-0 rounded-top">00</p>
                    <p class="text-countdown rounded-bottom">minutes</p>
                </div>
                <!-- End: Minutes -->
                <!-- Start: Seconds -->
                <div class="col-6 col-md-3 mt-3">
                    <p class="number-seconds m-0 rounded-top">00</p>
                    <p class="text-countdown rounded-bottom">seconds</p>
                </div>
                <!-- End: Seconds -->
            </div>
        </div>
        <!-- End: Big countdown -->
        <!-- Start: Inline countdown -->
        <div class="container">
            <p class="text-center mt-5" data-countdown="03/13/2020 08:00:00"><span class="number-days">00</span>&nbsp;days <span class="number-hours">00</span>&nbsp;hours <span class="number-minutes">00</span>&nbsp;minutes <span class="number-seconds">00</span>&nbsp;seconds<br></p>
        </div>
        <!-- End: Inline countdown -->
    </section>
    <!-- End: ♣ Countdown BS4 ♣ -->

            <!-- End: Content Box -->
        </div>
        <!-- End: Image Box -->
        <!-- Start: Image Box -->
        <div id="box-3">
            <!-- Start: Content Box -->

            <iframe height="100%" width="100%" scrolling="no" frameborder=0 sandbox="allow-same-origin" allowtransparency="true"
        onload="this.style.height=(this.contentWindow.document.body.scrollHeight+20)+'px';" src="{% url 'shedule' %}"></iframe>

            <!-- End: Content Box -->
        </div>
        <!-- End: Image Box -->

        <!-- Start: Image Box -->
        <div id="box-2">
            <!-- Start: Content Box -->
             <!-- Start: Faq by pomdre -->
    <section id="faq" style="padding: 2px;margin: 11px;">
        <h2 class="text-uppercase text-center" style="font-size: 48;">FAQ</h2>
        <!-- Start: br --><br >
        <!-- End: br -->
        <div class="container">
            <div class="faqelement"><button class="btn btn-primary faq on" type="button" style="box-shadow: none;">Questions&nbsp;</button>
                <div class="panel">
                    <p>Answer</p>
                </div>
            </div>
            <!-- Start: br --><br >
            <!-- End: br -->
            <div class="faqelement"><button class="btn btn-primary faq on" type="button" style="box-shadow: none;">Questions&nbsp;</button>
                <div class="panel">
                    <p>Answer</p>
                </div>
            </div>
        </div>
        <div class="container"></div>
    </section>
    <!-- End: Faq by pomdre -->
            <!-- End: Content Box -->
        </div>
        <!-- End: Image Box -->

        <!-- Start: Image Box -->
        <div id="box-2">
            <!-- Start: Content Box -->
            <div class="container text-center my-3">
<h3>Multiple Slides - Bootstrap 4</h3>
    <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel" style="background-color: transparent;">
        <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item row no-gutters active">
                <div class="col-3 float-left"><img class="img-fluid" src="{% static 'Hackathon/sponsors/assets/img/slider_1.jpg' %}"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="{% static 'Hackathon/sponsors/assets/img/slider_2.jpg' %}"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="{% static 'Hackathon/sponsors/assets/img/slider_3.jpg' %}"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="{% static 'Hackathon/sponsors/assets/img/slider_4.jpg' %}"></div>
            </div>
            <div class="carousel-item row no-gutters">
                <div class="col-3 float-left"><img class="img-fluid" src="{% static 'Hackathon/sponsors/assets/img/slider_1.jpg' %}"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="{% static 'Hackathon/sponsors/assets/img/slider_2.jpg' %}"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="{% static 'Hackathon/sponsors/assets/img/slider_3.jpg' %}"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="{% static 'Hackathon/sponsors/assets/img/slider_4.jpg' %}"></div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
</div>
            <!-- End: Content Box -->
        </div>
        <!-- End: Image Box -->
    </div>
    <!-- End: Parallax Scroll Effect -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

{% endblock %}