{% extends 'Accounts/base.html' %}
{% block title %} Answer {% endblock %}
{% load static %}
{% block content %}

<!-- This is the Navbar -->

<link rel="stylesheet" href="{% static 'Accounts/css/loginPage.css' %}">
<link rel="stylesheet" href="{% static 'Accounts/css/loginPageResponsive.css' %}">

 
    <header id="header">
      <div class="container">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <!-- Logo -->
            <a class="logo" href="{% url 'home' %}"><h4 style="color: #fff" class="text-uppercase">CodeCell</h4></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarContent"
              aria-controls="navbarContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"><img src="{% static 'Accounts/assets/arrow-alt-circle-down-regular.svg' %}" style="width: 30px;" alt=""></span>
            </button>
            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="" data-scroll-nav="5">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'quiz_category_list_all' %}">Quiz</a>
                </li>
              
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'forum_home' %}">Forum</a>
                </li>

                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quiz_progress' %}">Progress</a>
                  </li>
                <li class="nav-item">
                <a class="nav-link download-btn" href="{%url 'logout'%}">Logout</a>
                </li>

                {% else %}

                <li class="nav-item download-btn">
                    <a class="nav-link" href="{% url 'authenticate' %}">Login/Register</a>
                </li>

                {% endif %}

              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>



<!-- End of Navbar -->


<section id="profile" style="padding: 20px">
    <div class="container">
      <div class="row">
        <div class="col-md-9" style="margin-top:19px;">
          <div class="card">
            <div class="card-header" style="background:orange">
              <h4 class="text-center"><i><i class="fas fa-question-circle"></i> Doubts</i></h4>
            </div>
            <div class="card-body">
              <div class="container">
                   <div class="row">
                       <div class="col-md-6">
                         <h2>{{ question }}</h2>  
                         <h4>{{ question.description }}</h4>
                       </div><br>
                    </div>
                    <div class="row">
                
                    <div class="col-md-6">
                        <h5 class="text-muted" style="margin-top:20px;">Total Answers : 10(dynamic) </h5>
                    </div>
                    </div>
                    
                    <br>
                     <hr>  
                  <div class="well">
                    <h4><i>Post Your Answer:</i></h4>
                    <form role="form" method="post" >
                        {% csrf_token %}

                        <div class="form-group">
                            <textarea name="answer" class="form-control"></textarea>
                        </div>
                        <div class="text-center">
                        <button type="submit" class="btn btn-danger" name="create_answer">Submit</button>
                        </div>
                    </form>
                </div>
                {% if answer %}
                <h3>Answers :</h3>
                {% for i in answer %}
                <div class="card-body">
                  <div class="container">  
                    <div class="row">
                      <div class="col-md-12">
                          <h3>{{ i }}</h3>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}

                {% else %}
                <h3>No Answers yet.</h3>
                {% endif %}










        
                
                   
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div style="margin-top:20px;">
                   <div class="card text-center bg-danger text-warning mb-3">
                    <div class="card-body">
                     <h3>Doubts Asked</h3>
                     <h4 class="display-4">
                     <i class="fas fa-pencil-alt"></i> 10
                    </h4>
                    
                   </div>
                  </div>
               </div>
               <div style="margin-top:20px;">
                   <div class="card text-center bg-danger text-warning mb-3">
                    <div class="card-body">
                     <h3>Doubts Cleared</h3>
                     <h4 class="display-4">
                     <i class="fas fa-thumbs-up"></i> 10
                    </h4>
                    
                   </div>
                  </div>
               </div>
               <div style="margin-top:20px;">
                   <div class="card text-center bg-danger text-warning mb-3">
                    <div class="card-body">
                     <h3>Happy Students</h3>
                     <h4 class="display-4">
                     <i class="far fa-smile"></i> 200+
                    </h4>
                    
                   </div>
                  </div>
               </div>
          

        </div>
      </div>
    </div>
  </section>


   
{% endblock %}