{% extends 'Accounts/base.html' %}
{% block title %} Ask Question {% endblock %}
{% load static %}
{% block content %}

<div class="container bg-dark" style="margin-top:100px;padding: 20px;border-radius: 15px">
  <div class="well">
          
                  <h4 class="text-center text-warning"><i class="fas fa-question-circle"></i> Ask Your Doubt:</h4>
                  {% if error %}
                  <div class="alert alert-warning">
                          <strong>{{ error }}</strong>
                  </div>
                  {% endif %}
                  <form role="form" method="post">
                          {% csrf_token %}

                        <div class="form-group">
                            <label for="topic"><h6 style="color: white">Topic :</h6></label>
                            <select name="topic" type="topic">
                              {% for i in topic %}
                              <option value="{{ i }}" class="form-control">{{ i }}</option>
                              {% endfor %}
                            </select>
                             
                         </div>


                      <div class="form-group">
                          <label for="question"><h6 style="color: white">Question :- </h6></label>
                          <input type="question" name="question" class="form-control" >
                      </div>
                      <br>
                      
                      <div class="form-group">
                         <label for="description"><h6 style="color: white">Description :-</h6></label>
                          <textarea class="form-control" name="description" rows="5"></textarea>
                      </div>
                      <div class="text-center">
                      <button type="submit" class="btn btn-dark" name="create_doubt">Submit</button>
                      </div>
                  </form>
              </div>
</div>

{% endblock %}