{% extends 'Accounts/base.html' %}
{% block title %} Forum {% endblock %}
<!-- {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Forum/styles.css' %}"> -->
{% block content %}

<!-- This is the Navbar -->

<link rel="stylesheet" href="{% static 'Accounts/css/loginPage.css' %}">
<link rel="stylesheet" href="{% static 'Accounts/css/loginPageResponsive.css' %}">


    <header id="header">
      <div class="container">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <!-- Logo -->
            <a class="logo" href="{% url 'home' %}"><h4 style="color: #fff" class="text-uppercase">CodeCell</h4></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarContent"
              aria-controls="navbarContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"><img src="{% static 'Accounts/assets/arrow-alt-circle-down-regular.svg' %}" style="width: 30px;" alt=""></span>
            </button>
            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="" data-scroll-nav="5">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'quiz_category_list_all' %}">Quiz</a>
                </li>
              
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'forum_home' %}">Forum</a>
                </li>

                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quiz_progress' %}">Progress</a>
                  </li>
                <li class="nav-item">
                <a class="nav-link download-btn" href="{%url 'logout'%}">Logout</a>
                </li>

                {% else %}
                <li class="nav-item download-btn">
                    <a class="nav-link" href="{% url 'authenticate' %}">Login/Register</a>
                </li>

                {% endif %}

              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

</html>

<!-- End of Navbar -->
  

<div class="main" style="padding: 50px">
    <header id="main-header" class="py-2 bg-danger text-warning">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>
              <i class="fas fa-question-circle"></i> Doubts Area</h1>
          </div>
        </div>
      </div>
    </header>
         <div style="border:1px solid black; width:100%; height:300px; ;" class="back">
             <h1  class="font" style="text-align:center; padding-top:100px;">Welcome To CodeCell Forum</h1>
             <h5 class="text-muted" style="text-align:center;"><u><i>Ask your Doubts And Get It Clearified By Our Expertise</i></u></h5>
             <div class="form-group">
             
  <div class="text-center">
    <a href="{% url 'ask_question' %}" style="text-decoration:none;"><button type="button" class="btn btn-danger text-warning" style="margin-top:20px;">Ask Doubts</button></a>
  </div></a>
         
</div>
</div>
<style>
    h1.font{
        font-family: 'Acme', sans-serif;
    }
    div.back{
        background: #e5efac;
    }
</style>
<div class="container" style="margin-bottom:50px;">
    <h3 style="text-align:center;">"Live as if you were to die tomorrow, learn as if you were to live forever"</h3>
    <h5 style="text-align:center" class="text-muted"><i class="fas fa-minus"></i> Mahatma Gandhi</h5>
</div>
<section id="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-9" style="margin-top:19px;">
        <div class="card">
          <div class="card-header" style="background:orange">
            <h4 class="text-center">
              <i><i class="fas fa-question-circle"></i> Doubts</i>
            </h4>
          </div>


          {% for i in question_list %}
          <div class="card-body">
            <div class="container">
               
              <div class="row">
                <div class="col-md-10">
                    <h3>{{ i.question }}</h3>
                        {{ i.user }} asked on {{ i.asked_on }}
                </div>
                <br/>
                <div class="col-md-2">
                  <a href="{% url 'answer_list' pk=i.pk %}"><button style="margin-top:15px;" class="btn  btn-danger">View</button></a>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-6">
                  <p><h5>Topic:- {% for j in i.topic.all %} {{j}},  {%endfor%}</h5> </p>
                </div>
              </div>
              
              <hr />
            </div>
          </div>
          {% endfor %}
        </div>
      </div>




      <div class="col-md-3">
        <div style="margin-top:20px;">
          <div class="card text-center bg-danger text-warning mb-3">
            <div class="card-body">
              <h3>Doubts Asked</h3>
              
              <h4 class="display-4">
                <i class="fas fa-pencil-alt"></i>
                {% if user.is_authenticated %} {{ user.doubts_asked}} {% else %} -- {% endif %}
              </h4>
            </div>
          </div>
        </div>
        <div style="margin-top:20px;">
          <div class="card text-center bg-danger text-warning mb-3">
            <div class="card-body">
              <h3>Doubts Cleared</h3>
              <h4 class="display-4">
                <i class="fas fa-thumbs-up"></i>
                {% if user.is_authenticated %} {{ user.doubts_solved}} {% else %} -- {% endif %}
              </h4>
            </div>
          </div>
        </div>
        <div style="margin-top:20px;">
          <div class="card text-center bg-danger text-warning mb-3">
            <div class="card-body">
              <h3>Happy Students</h3>
              <h4 class="display-4"><i class="far fa-smile"></i> 200+</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</div>   


{% endblock %}