body{
  margin: 0;
  padding: 0;
}
.box{
  width: 100%;
  /*padding: 20px;*/
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: black/*#191919*/;
  text-align: center;
}
.box h4{
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2vmax;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  font-size: 2vmax;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 7px 5px;
  width: 40%/*200px*/;
  outline: none;
  color: white;
  border-radius: 30px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 50%;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  font-size: 1.5vmax;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 7px 20px;
  outline: none;
  color: white;
  border-radius: 30px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
