{% extends 'Accounts/base.html' %}
{% block content %}
    <div style="margin-top: 12vh"></div>
   
<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}

    {% for field in Quiz_form %}
    <div class="fieldWrapper form-group" style="padding-left: 30px;padding-top: 2vh">
        {{ field.errors }}
       {{ forloop.counter }} ) {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}

    <input type="submit" name="" class="btn btn-lg bg-success" value="Submit" style="margin-left: 30px">
</form>


{% endblock %}