{% extends 'Accounts/base.html' %}
{% block title %} Forum {% endblock %}
{% load static %}
{% block content %}

    <div style="margin-top: 20vh"></div>
		<div class ="container">
			<div class = "row">
				<div class = "col-sm-12">
					<h1 style="text-align: justify-all"> Codecell Quiz Test ::  <font color = "blue"> {{ quiz }} </font> </h1>
					<div class ="table-responsive">
					<table class = "table table-bordered" style = "margin : 5% 0; text-align: center">
						<thead>
							<tr>
								<th colspan = 2> <font color = "green" size = 5><center>Marks : {{marks}}/{{quiz.total_marks}} </center></font></th>
							</tr>
						</thead>

						<tbody>

							<tr>
								<td> Total questions </td>
								<td> {{quiz.max_questions}} </td>
							</tr>

							<tr>
								<td> Correct </td>
								<td> {{progress.Questions_correct}} </td>
							</tr>

						</tbody>

					</table>
					</div>
                </div>
            </div>
        </div>

			<center><h2> <font color = "green"> REVIEW QUIZ </font>  </h2></center>
			{% for question,answer,counter in content %}

			<div class = "container mx-auto" style="font-size:20px; margin : 5% 0%">
				<div class = "text-drak" style = "width : 100%; font-size : 25px; margin : 3% 0%;font-style: bold">
						{{ forloop.counter }}) {{ question.content }}

				</div>
				{% for  answer,correct,attempted in answer %}

				{% if correct is True %}
				<div class="badge badge-success badge-pill " style="width : 100%; padding-bottom:15px; padding-top:15px; font-size:20px; margin:5px 5px; border:1px solid black">{{ answer.content }}</div>
				{% endif %}

				{% if correct is False and attempted is True %}
				<div class="badge badge-danger badge-pill " style="width : 100%; padding-bottom:15px; padding-top:15px; font-size:20px; margin:5px 5px; border:1px solid black">{{ answer.content }}</div>
				{% endif %}

				{% if correct is False and attempted is False %}
				<div class="badge badge-light badge-pill " style="width : 100%; padding-bottom:15px; padding-top:15px; font-size:20px; margin:5px 5px; border:1px solid black">{{ answer.content }}</div>
				{% endif %}

				{% endfor %}

						<div class = "" style="margin-top: 2vh">
						<p>Ans:-	{{question.explanation}}</p>
						</div>
						</div>
			</div>
			{% endfor %}
		</div>

{% endblock %}