{% extends "Accounts/base.html" %}
{% load static %}
{% block title %} "Progress Page" {% endblock %}

{% block content %}


<div class="container">
  {% if  Quiz %}
      <center><h1 >Progress on each Quiz.</h1></center>
      <div class ="table-responsive">
      <table class="table table-bordered table-striped table-hover">
  
          <thead>
            <tr>
              <th style="color: green;">Title</th>
              <th style="color: green;">Total Questions</th>
              <th style="color: green;">Correctly_solved</th>
              <th style="color: green;">Marks Obtained</th>
              <th style="color: green;">Percentage</th>
              <th style="color: green;">Attempted on </th>
            </tr>
          </thead>
  
      {% for name,total_question,correct,marks,percentage,date in Quiz %}
          <tbody>
              <tr>
                <td >{{ name }}</td>
                <td >{{ total_question }}</td>
                <td >{{ correct }}</td>
                <td >{{ marks }}</td>
                <td >{{ percentage }}%</td>
                <td >{{ date }}</td>
              </tr>
          </tbody>
          
      {% endfor %}
          
      </table>
      </div>
  
  {% else %}
      <h1 > You haven't attempted any quiz yet.</h1>
  
  {% endif %}
  </div>
  {% endblock %}