{% extends "Accounts/base.html" %}
{% load static %}
{% block title %} "Progress Page" {% endblock %}

{% block content %}

<!-- This is the Navbar -->

<link rel="stylesheet" href="{% static 'Accounts/css/loginPage.css' %}">
<link rel="stylesheet" href="{% static 'Accounts/css/loginPageResponsive.css' %}">

<header id="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <!-- Logo -->
        <a class="logo" href="{% url 'home' %}"><img src="{% static 'Accounts/assets/CodeCell Logo 1 copy.png' %}" width="200px;" alt=""/></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarContent"
          aria-controls="navbarContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"
            ><img
              src="{% static 'Accounts/assets/arrow-alt-circle-down-regular.svg' %}" style="width: 30px;" alt=""/></span>
        </button>
        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'quiz_category_list_all' %}" data-scroll-nav="5">Quiz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'forum_home' %}">Forum</a>
            </li>
            <!-- <li class="nav-item">
                            <a class="nav-link" href="#" data-scroll-nav="4">  </a>
                        </li> -->
                        {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'quiz_progress' %}">Progress</a>
                          </li>
                        <li class="nav-item">
                        <a class="nav-link download-btn" href="{%url 'logout'%}">Logout</a>
                        </li>
        
                        {% else %}
        
                        <li class="nav-item download-btn">
                            <a class="nav-link" href="{% url 'authenticate' %}">Login/Register</a>
                        </li>
        
                        {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>


<!-- End of Navbar -->

<div class="container" style="color: white;margin-top: 8%">
  {% if  Quiz %}
      <center><h1 style="color: white">Progress on each Quiz.</h1></center>
  
      <table class="table table-bordered table-striped table-hover">
  
          <thead>
            <tr>
              <th style="color: white">Title</th>
              <th style="color: white">Total Questions</th>
              <th style="color: white">Correctly_solved</th>
              <th style="color: white">Marks Obtained</th>
              <th style="color: white">Percentage</th>
              <th style="color: white">Attempted on </th>
            </tr>
          </thead>
  
      {% for name,total_question,correct,marks,percentage,date in Quiz %}
          <tbody>
              <tr>
                <td style="color: white">{{ name }}</td>
                <td style="color: white">{{ total_question }}</td>
                <td style="color: white">{{ correct }}</td>
                <td style="color: white">{{ marks }}</td>
                <td style="color: white">{{ percentage }}%</td>
                <td style="color: white">{{ date }}</td>
              </tr>
          </tbody>
          
      {% endfor %}
  
      </table>
  
  {% else %}
      <h1 style="color: white"> You haven't attempted any quiz yet.</h1>
  
  {% endif %}
  </div>
  {% endblock %}