{% extends 'Accounts/base.html' %}
{% block content %}
{% load static %}


<h1 style="color: black ;margin-top: 10vh;text-align: center" > Quizzes in the <strong> {{ category.category }}</strong> category </h1>

{% if quiz_list %}
<div class="container" >
<table class="table table-bordered table-striped table-hover bg-secondary" style="border:2px solid black;margin-top: 5vh">
    <tr class="bg-dark">
        <th style="color: white">Quiz Name</th>
        <th style="color: white">Level</th>
    </tr>
    {% for quiz in quiz_list %}
    <tr>
    <td style="color: white">    <li><a style="color: white" href = "{% url 'quiz_detail' slug=quiz.url %}">{{ quiz.title }}</a></li> </td>
    <td style="color: white">{{ quiz.level }}</td>
    </tr>
    {% endfor %}

</table>
</div>
{% else %}
<p style="color: black;font-size: 20px;text-align: center;"> Coming Soon.</p>

{% endif %}

{% endblock %}