{% extends 'Accounts/base.html' %}
{% block content %}
{% load static %}


<h1 style="color: black ;margin-top: 10vh;text-align: center" > Quizzes in the <strong> {{ category.category }}</strong> category </h1>

{% if quiz_list %}
<div class="container" >


    {% for quiz in quiz_list %}
        <div class="card">
          <div class="card-header">
            {{ quiz.title }}
          </div>
          <div class="card-body">
            <h5 class="card-title">Level :- {{ quiz.level }}</h5>
            <p class="card-text">{{ quiz.description }}</p>
            <a href="{% url 'quiz_detail' slug=quiz.url %}" class="btn btn-primary pull-right">Start</a>
          </div>
        </div>
    {% endfor %}

</div>
    {% else %}
         <p style="color: black;font-size: 20px;text-align: center;"> Coming Soon.</p>

    {% endif %}

{% endblock %}