{% extends 'Accounts/base.html' %}
{% load static %}
{% block title %}
{{ quiz.title }}
{% endblock %}

{% block content %}

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<div class="container" style="margin-top: 20vh;text-align: center;">
  <h2 style="color: black"> {{ quiz.title }}</h2>
  
  <h3 style="color: black"> Category :- {{quiz.category}}</h3>
  
  <p style="color: black"> {{ quiz.description }} </p>
  
{% if time_error %}
  Please wait one hour before reattempting the quiz.
{% else %}
  <button type="button" class="btn btn-success btn-lg" onclick="window.location.href = '{% url 'Quiz_attempt' quiz_name=quiz.url%}'" data-toggle="tooltip" title="All the best">Start</button>
{% endif %}
  <strong><h4 style="color: black;margin-bottom: 20px;margin-top: 20px">Note :- </h4></strong>
  {% if quiz.single_attempt %}
      <h4 style="color: black">You will only get one attempt at this quiz.</h4>
  {% else %}
      <h4 style="color: black">You can attempt this quiz only once per hour.</h4>
  {% endif %}
    </div>
  {% endblock %}
