{% load static %}

<html>
<head>

    <!-- Latest compiled and minified CSS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-eqiv="x-ua-compatible" content="ie=edge">
    <title>Codecell</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'Accounts/styles.css' %}" media="screen" />

</head> 
<body>
<header id="header" style="margin-bottom: 70px">
    <div id="navBar" class="container-fluid fixed-top bg-dark" >
      <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <!-- Logo -->
          <a class="logo" href="{% url 'home' %}"><img src="{% static 'Accounts/assets/logo.png' %}" width="200px;" alt=""></a>
            <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarContent"
              aria-controls="navbarContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"><img src="{% static 'Accounts/assets/Ham.png' %}" style="width: 30px;" alt=""/></span>
            </button>
          <!-- navbar links -->
          <div class="collapse navbar-collapse" id="navbarContent" >
            <ul class="navbar-nav ml-auto ">
              <li class="nav-item">

                <a class="nav-link text-light " href="{% url 'home' %}" style="font-size: 20px;padding-left: 10px;padding-right: 10px;"><span class="fa fa-home"></span> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'quiz_category_list_all' %}" data-scroll-nav="5" style="font-size: 20px;padding-left: 10px;padding-right: 10px;"><span class="fas fa-pen"></span> Quiz</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'forum_home' %}" style="font-size: 20px;padding-left: 10px;padding-right: 10px"><span class="fas fa-comments"></span> Forum</a>
              </li>

                          <li><div  style="padding-left: 07px; padding-top: 08px;;" class="dropdown">
                <button type="button" class="btn btn-outline-light dropdown-toggle fa fa-user" data-toggle="dropdown">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  {% if user.is_authenticated %}
                  <a class="dropdown-item" href="{% url 'quiz_progress' %}">Quiz  Progress</a>
                  <a class="dropdown-item" href="{% url 'user_profile' username=request.user.username %}">My Profile</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'authenticate' %}">Sign in</a>
                  {% endif %}
                </div>

              </div></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- End Navbar -->

{% block content %}

{% endblock %}


{% block footer %}
{# footer starts here#}
<div class="mt-5 pt-5 pb-5 footer" style="background-color: black/*#0b1e4f*/ /*#2f4785*/;color: white;text-align: center;margin-top: 3vh ">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-12 about-company">
      <h2>Heading</h2>
      <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis quam tristique convallis </p>
    </div>
    <div class="col-lg-3 col-xs-12 links">
      <h2 class="mt-lg-0 mt-sm-3" style="margin-top:3vh; ">Links</h2>
        <ul class="m-0 p-0" style="font-size: 3vh;">
          <a href="#" class="link" data-hover="Hover Me" style="color: white">Home</a><br>
          <a href="#" class="link" data-hover="Hover Me" style="color: white">About us</a><br>
          <a href="#" class="link" data-hover="Hover Me" style="color: white">Quiz</a><br>
          <a href="#" class="link" data-hover="Hover Me" style="color: white">Forum</a><br>
          <a href="#" class="link" data-hover="Hover Me" style="color: white">Login</a><br>
        </ul>
    </div>
    <div class="col-lg-4 col-xs-12 location">
      <h2 class="mt-lg-0 mt-sm-4" style="margin-top:3vh; ">Location</h2>
      <p>Rajiv Gandhi Institute of Technology,Versova,Mumbai.</p>
      <p class="mb-0"><i class="fa fa-phone mr-3"></i>99887 74455</p>
      <p><i class="fa fa-envelope-o mr-3"></i>rgit@gmail.com</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <p align="center"><small style="color: white">© <span id="date"></span>. All Rights Reserved.</small></p>
    </div>
  </div>
</div>
</div>

<script>
//GET DATE DYNAMICALLY 
var d = new Date();
var n = d.getFullYear();
document.getElementById("date").innerHTML = n + " ";
</script>

<style>
  body{
    font-family: 'Bree Serif', serif;

  }
  #navBar{
font-family: 'Nanum Gothic Coding', monospace;
  }
</style>

{#footer ends here#}
{% endblock %}
</body>
</html>