{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Latest compiled and minified CSS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-eqiv="x-ua-compatible" content="ie=edge">
    <title>RGIT-Codecell</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{#    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'Accounts/styles.css' %}" media="screen" />

    <link rel="stylesheet" href="{% static 'Accounts/team/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'Accounts/team/assets/css/Team-with-rotating-cards.css' %}">
</head>

<!-- <script src="https://unpkg.com/scrollreveal"></script> -->

{% if user.is_authenticated %}
<header id="header">
    <div id="navBar" class="container-fluid navbar-default fixed-top" >
      <nav class="navbar navbar-expand-sm ">
        <div class="container-fluid">
          <!-- Logo -->
           <a class="logo" href="{% url 'home' %}"><img src="{% static 'Accounts/assets/CodeCellLogo Neon.png' %}" width="200px;" alt=""></a>
            <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarContent"
              aria-controls="navbarContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"><img src="{% static 'Accounts/assets/Ham.png' %}" style="width:25px;" alt=""/>
              </span>
            </button>
          <!-- navbar links -->
          <div class="collapse navbar-collapse text-center" id="navbarContent" >
            <ul class="navbar-nav ml-auto ">
              <li class="nav-item">
                <a class="nav-link text-light " href="{% url 'home' %}" style="font-size: 25px;padding-left: 10px;padding-right: 10px;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'quiz_category_list_all' %}" style="font-size: 25px;padding-left: 10px;padding-right: 10px;"> Quiz</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'forum_home' %}" style="font-size: 25px;padding-left: 10px;padding-right: 10px"> Forum</a>
              </li>

                          <li><div  style="padding-left: 07px; padding-top: 08px;;" class="dropdown">
                <button type="button" class="btn btn-outline-light dropdown-toggle fa fa-user" data-toggle="dropdown">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  {% if user.is_authenticated %}
                  <a class="dropdown-item" href="{% url 'quiz_progress' %}">Quiz  Progress</a>
{#                  <a class="dropdown-item" href="{% url 'user_profile' username=request.user.username %}">My Profile</a>#}
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'authenticate' %}">Sign in</a>
                  {% endif %}
                </div>

              </div></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
{%  endif %}
  <!-- End Navbar -->


{% if not user.is_authenticated %}
<header id="header">
    <div id="navBar" class="container-fluid navbar-default fixed-top" >
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <!-- Logo -->
          <a class="logo" href="{% url 'home' %}"><img src="{% static 'Accounts/assets/logo.png' %}" width="200px;" alt=""></a>

            <button class="navbar-toggler logo"
              type="button"
              data-toggle="collapse"
              data-target="#navbarContent"
              aria-controls="navbarContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"><img src="{% static 'Accounts/assets/Ham.png' %}" style="width:25px;" alt=""/>
              </span>
            </button>
          <!-- navbar links -->

          <div class="collapse navbar-collapse text-center" id="navbarContent" >
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link text-light" href="{% url 'hackathon_home' %}" style="font-size: 25px;padding: 0 15px 0 10px;">Hackathon</a>
                </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'home' %}#codecell" style="font-size: 25px;padding: 0 15px 0 10px;">Codecell</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'home' %}#about"  style="font-size: 25px;padding: 0 15px 0 10px;">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'home' %}#events" style="font-size: 25px;padding: 0 15px 0 10px;">Events</a>
              </li>
                <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'home' %}#team" style="font-size: 25px;padding: 0 15px 0 10px;">Our Team</a>
              </li>
                <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'authenticate' %}" style="font-size: 25px;padding: 0 15px 0 10px;">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- End Navbar -->
{% endif %}

{% block content %}

{% endblock %}


  <!-- <div class="row mt-2"> -->
    <div class="footer2">
      <p align="center"><small style="color: black">© <span id="date"></span>. RGIT-Codecell - All Rights Reserved.</small></p>
    </div>
  <!-- </div> -->

<script>
//GET DATE DYNAMICALLY
var d = new Date();
var n = d.getFullYear();
document.getElementById("date").innerHTML = n + " ";
</script>


<style>
  body{
    font-family: 'Bree Serif', serif;
    overflow-x: hidden;

  }
  #navBar{
font-family: 'Nanum Gothic Coding', monospace;
  }
  .navbar-default{
    max-width:100%;
    background-color: #000;
    border: 0;
  }
  .anchor{
  position: absolute;
  margin-top: 60px;
  text-align: center;
}
.footer2{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 8;
}
</style>


<!-- SCRIPT FOR SCROLLING ANIMATION -->
{#<script>#}
{#window.sr = ScrollReveal();#}
{#sr.reveal(".navbar", {#}
{#  duration: 2000,#}
{#  origin: 'bottom',#}
{#  distance: "300px",#}
{#});#}
{#</script>#}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
