{% extends 'Accounts/base.html' %}
{% block content %}

{% load static %}
<div class="section1 box" id="codecell" style="height:100vh">
  <h1 style="padding-top: 35vh;margin-left: 10%;color: #00ff00; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><p style="font-size: larger">{CODE}CELL</p></h1><br>
  <p style="color: white;font-size: 10vmin;margin-left: 10%">Platform for coders,by coders.</p>
  <center><a id="btnHome" href="#about" class="btn bg-light text-dark btn-lg" role="button">Learn more</a></center>
</div>

  <div id="about" style="height:100vh;padding-top: 50px;">
<div class="container" style="text-align: center;">
    <img class="imgRight" src="{% static 'Accounts/assets/i1.svg' %}" style="height: 10vmax;width: 7vmax">
    <h2 class="upperTop">What is Codecell?</h2>
    <p class="lowerBottom">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
</div>

<div class="container" style="text-align: center;">
    <img class="imgRight" src="{% static 'Accounts/assets/i2.svg' %}" style="height: 10vmax;width: 7vmax">
    <h2 class="upperTop">Who are we?</h2>
    <p class="lowerBottom">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
  </div>
    <!-- </div> -->
  </div>

<div id="events"  style="height:100%;background-color: black;padding-top: 40px;padding-bottom: 20px">
<div class="container-fluid" style="background-color: black;padding: 10px">
  <h2 class="" style="color: white;text-align: center;">Our Events</h2>
  <center>
  <div class="container-fluid row">
    <div class="col-lg-6 col-sm-12"><a href="{% url 'hackathon_home' %}"><img src="{% static 'Accounts/assets/hack1.jpg' %}" style="padding: 3vmin; height: 20vmax;width: 38vmax;"  class="img-fluid "></a></div>
    <div class="col-lg-6 col-sm-12"><p class="" style="padding: 3vmin;color: white;margin-bottom: 3vh;text-align: center;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p></div>
</div>

  <div class="container-fluid row " >
    <div class="col-lg-6 col-sm-12"><a href="#Seminar"><img src="{% static 'Accounts/assets/seminar.png' %}" style="padding: 3vmin;height: 20vmax;width: 38vmax"  class="img-fluid "></a></div>
    <div class="col-lg-6 col-sm-12"><p class="" style="padding: 2vmin;color: white;margin-bottom: 3vh;text-align: center;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p></div>
</div>
</center>
</div>
</div>

     <!-- Start: Team with rotating cards -->
    <section class="card-section-imagia">
        <!-- Start: H1 -->
        <h1 style="color: black;font-size: 3vmax">Our team</h1>
        <!-- End: H1 -->
        <!-- Start: H2 -->
        <h2 style="color: black;font-size: 2vmax">Codecell is the result of team work and harmony</h2>
        <!-- End: H2 -->
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <!-- Start: card container -->
                    <div class="card-container-imagia">
                        <!-- Start: card -->
                        <div class="card-imagia">
                            <!-- Start: front -->
                            <div class="front-imagia">
                                <!-- Start: cover image -->
                                <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067"></div>
                                <!-- End: cover image -->
                                <!-- Start: user image -->
                                <div class="user-imagia"><img class="img-circle" alt="" src="https://unsplash.it/120/120?image=64"></div>
                                <!-- End: user image -->
                                <!-- Start: texte -->
                                <div class="content-imagia">
                                    <h3 class="name-imagia">Aayush Singh</h3>
                                    <p class="subtitle-imagia">Founder</p>
                                    <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum ipse efficere possis, deinde etiam quantum ille quem diligas atque adiuves.</em></p>
                                </div>
                                <!-- End: texte -->
                                <!-- Start: footer -->
{#                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>#}
                                <!-- End: footer -->
                            </div>
                            <!-- End: front -->
                            <!-- Start: back -->
                            <div class="back-imagia">
                                <!-- Start: content -->
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Lorem Ipsum</h3>
                                        <p class="text-center">Et hanc quidem praeter oppida multa duae civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim subversa ut rebellatrix interneciva
                                            aegre vestigia claritudinis pristinae monstrat admodum pauca. </p>
                                    </div>
                                </div>
                                <!-- End: content -->
                                <!-- Start: footer -->
                                <div class="footer-imagia">
                                    <!-- Start: icons -->
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                    <!-- End: icons -->
                                </div>
                                <!-- End: footer -->
                            </div>
                            <!-- End: back -->
                        </div>
                        <!-- End: card -->
                    </div>
                    <!-- End: card container -->
                </div>
                <div class="col-sm-6 col-md-4">
                    <!-- Start: card container -->
                    <div class="card-container-imagia">
                        <!-- Start: card -->
                        <div class="card-imagia">
                            <!-- Start: front -->
                            <div class="front-imagia">
                                <!-- Start: cover gradient -->
                                <div class="cover-imagia cover-gradient"></div>
                                <!-- End: cover gradient -->
                                <!-- Start: user image -->
                                <div class="user-imagia"><img class="img-circle" alt="" src="https://unsplash.it/120/120?image=64"></div>
                                <!-- End: user image -->
                                <div class="content-imagia">
                                    <h3 class="name-imagia">Nitish Talekar</h3>
                                    <p class="subtitle-imagia">Founder</p>
                                    <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum ipse efficere possis, deinde etiam quantum ille quem diligas atque adiuves. </em></p>
                                </div>
{#                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>#}
                            </div>
                            <!-- End: front -->
                            <!-- Start: back -->
                            <div class="back-imagia">
                                <!-- Start: content -->
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Lorem Ipsum</h3>
                                        <p class="text-center">Et hanc quidem praeter oppida multa duae civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim subversa ut rebellatrix interneciva
                                            aegre vestigia claritudinis pristinae monstrat admodum pauca. </p>
                                    </div>
                                </div>
                                <!-- End: content -->
                                <!-- Start: footer -->
                                <div class="footer-imagia">
                                    <!-- Start: icons -->
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                    <!-- End: icons -->
                                </div>
                                <!-- End: footer -->
                            </div>
                            <!-- End: back -->
                        </div>
                        <!-- End: card -->
                    </div>
                    <!-- End: card container -->
                </div>
                <div class="col-sm-6 col-md-4">
                    <!-- Start: card container -->
                    <div class="card-container-imagia">
                        <!-- Start: card -->
                        <div class="card-imagia">
                            <!-- Start: front -->
                            <div class="front-imagia">
                                <!-- Start: cover image -->
                                <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067"></div>
                                <!-- End: cover image -->
                                <!-- Start: user image -->
                                <div class="user-imagia"><img class="img-circle" alt="" src="https://unsplash.it/120/120?image=64"></div>
                                <!-- End: user image -->
                                <!-- Start: texte -->
                                <div class="content-imagia">
                                    <h3 class="name-imagia">Sagar Ambilpure</h3>
                                    <p class="subtitle-imagia">Founder</p>
                                    <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum ipse efficere possis, deinde etiam quantum ille quem diligas atque adiuves. </em></p>
                                </div>
                                <!-- End: texte -->
                                <!-- Start: footer -->
{#                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>#}
                                <!-- End: footer -->
                            </div>
                            <!-- End: front -->
                            <!-- Start: back -->
                            <div class="back-imagia">
                                <!-- Start: content -->
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Lorem Ipsum</h3>
                                        <p class="text-center">Et hanc quidem praeter oppida multa duae civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim subversa ut rebellatrix interneciva
                                            aegre vestigia claritudinis pristinae monstrat admodum pauca. </p>
                                    </div>
                                </div>
                                <!-- End: content -->
                                <!-- Start: footer -->
                                <div class="footer-imagia">
                                    <!-- Start: icons -->
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                    <!-- End: icons -->
                                </div>
                                <!-- End: footer -->
                            </div>
                            <!-- End: back -->
                        </div>
                        <!-- End: card -->
                    </div>
                    <!-- End: card container -->
                </div>
            </div>
        </div>
    </section>
    <!-- End: Team with rotating cards -->


<script>
window.sr = ScrollReveal();
sr.reveal(".upperTop", {
  duration: 1500,
  origin: 'top',
  distance: "300px",
  // delay: 100
});
sr.reveal(".lowerBottom", {
  duration: 1500,
  origin: 'bottom',
  distance: "300px",
  // delay: 100
});
sr.reveal(".imgRight", {
  duration: 1500,
  origin: 'right',
  distance: "300px",
  // delay: 100
});
sr.reveal(".imgLeft", {
  duration: 1500,
  origin: 'left',
  distance: "300px",
  // delay: 100
});
sr.reveal(".rightTxt", {
  duration: 1500,
  origin: 'right',
  distance: "300px",
  // delay: 100
});



</script>

{% endblock %}
