@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar-nav .nav-link {
    font-size: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav {
    padding: 20px 30px 35px;
  }
  #navbarContent {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#20007e),
      to(#e61eb6)
    );
    background: linear-gradient(90deg, #20007e 0%, #e61eb6 100%);
  }
  .navbar-nav .nav-item {
    padding: 4px 0;
  }
  .navbar-nav .nav-link {
    display: inline-block;
  }
  .navbar-nav .nav-item.download-btn .nav-link {
    margin: 16px 0 0;
  }
  .navbar-nav .nav-link.active::after,
  .navbar-nav .nav-link:hover::after {
    right: auto;
  }
  .navbar-toggler span {
    color: #fff;
    font-size: 30px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .navbar-nav {
    padding: 20px 30px 35px;
  }
  #navbarContent {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#20007e),
      to(#e61eb6)
    );
    background: linear-gradient(90deg, #20007e 0%, #e61eb6 100%);
  }
  .navbar-nav .nav-item {
    padding: 4px 0;
  }
  .navbar-nav .nav-link {
    display: inline-block;
  }
  .navbar-nav .nav-item.download-btn .nav-link {
    margin: 16px 0 0;
  }
  .navbar-nav .nav-link.active::after,
  .navbar-nav .nav-link:hover::after {
    right: auto;
  }
  .navbar-toggler span {
    color: #fff;
    font-size: 30px;
  }
  .navbar-nav .nav-link {
    font-size: 15px;
  }
  .navbar-nav .nav-item.download-btn .nav-link {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
  .navbar-nav {
    padding: 20px 30px 35px;
  }
  #navbarContent {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#20007e),
      to(#e61eb6)
    );
    background: linear-gradient(90deg, #20007e 0%, #e61eb6 100%);
  }
  .navbar-nav .nav-item {
    padding: 4px 0;
  }
  .navbar-nav .nav-link {
    display: inline-block;
  }
  .navbar-nav .nav-item.download-btn .nav-link {
    margin: 16px 0 0;
  }
  .navbar-nav .nav-link.active::after,
  .navbar-nav .nav-link:hover::after {
    right: auto;
  }
  .navbar-toggler span {
    color: #fff;
    font-size: 30px;
  }
  .navbar-nav .nav-link {
    font-size: 15px;
  }
  .navbar-nav .nav-item.download-btn .nav-link {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
  .navbar-nav {
    padding: 20px 30px 35px;
  }
  #navbarContent {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#20007e),
      to(#e61eb6)
    );
    background: linear-gradient(90deg, #20007e 0%, #e61eb6 100%);
  }
  .navbar-nav .nav-item {
    padding: 4px 0;
  }
  .navbar-nav .nav-link {
    display: inline-block;
  }
  .navbar-nav .nav-item.download-btn .nav-link {
    margin: 16px 0 0;
  }
  .navbar-nav .nav-link.active::after,
  .navbar-nav .nav-link:hover::after {
    right: auto;
  }
  .navbar-toggler span {
    color: #fff;
    font-size: 30px;
  }
  .navbar-nav .nav-link {
    font-size: 15px;
  }
  .navbar-nav .nav-item.download-btn .nav-link {
    margin-top: 15px;
  }
}